/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
!/storage/framework/cache/.gitkeep
!/storage/framework/sessions/.gitkeep
!/storage/framework/views/.gitkeep
!/storage/logs/.gitkeep
.env
.env.backup
.env.*.backup
.phpunit.result.cache
.phpunit.cache
.DS_Store
Thumbs.db
/storage/pail
npm-debug.log
yarn-error.log
auth.json
.idea
.vscode
.fleet
.claude/settings.local.json
